/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/


#slides {
    display: none
}

.slidesjs-container {
    max-height: 506px;
}

#slides .slidesjs-navigation {
    margin-top: 3px;
}

.item img {
    width: 100%;
}

#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    list-style: none;
}

.slidesjs-pagination li {
    display: inline-block;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: inline-block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #333
}

#slides a:hover,
#slides a:active {
    color: #9e2020
}

#slides {
    display: none
}

.container {
    margin: 0 auto
}
/* For tablets & smart phones */

@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: hidden;
    }
    .container {
        width: auto
    }
}
/* For smartphones */

@media (max-width: 480px) {
    .container {
        width: auto
    }
}
/* For smaller displays like laptops */

@media (min-width: 768px) and (max-width: 979px) {
    .container {
        width: 724px
    }
}
/* For larger displays */

@media (min-width: 1200px) {
    .container {
        width: 1120px
    }
}

.call i[class^="icon-"] {
    font-size: 18px;
    vertical-align: middle;
    color: #fab700;
}

.sub-nav {
    display: none;
    width: 96.55%;
    background: #636467;
    height: 140px;
    position: absolute;
    z-index: 900;
    top: 178px;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search-bar,
#search-bar {
    color: #fff;
    font-size: 8px;
    padding: 0px 0px 0px 30px;
    background-color: #636467;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    border: none;
    height: 26px;
    line-height: 24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    width: 115px;
}

#search-bar {
    display: none;
}

html {
    color: #4d4d4d;
    font-family: "Arial";
}

p {
    font-family: "Arial";
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 13px;
    line-height: 1.5em;
}

h1 {
    font-family: "Arial";
    font-weight: bold;
    color: #727272;
    padding: 0 !important;
    line-height: normal;
}

.thin {
    font-weight: normal !important;
}

body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    font-size: 12px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center !important;
}

#wrapper {
    background: #fff;
    padding: 20px;
    position: relative;
}

.navbar {
    background: url(../img/nav.jpg) repeat-x;
    width: 98%;
    border-radius: 5px;
    height: 43px;
    min-height: 43px;
    padding-left: 10px;
}

.right-align {
    text-align: right;
}

.top {
    font-size: 10px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

label {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.forms textarea,
.forms input {
    width: 65%;
    background: #dedcdd !important;
    border: 1px solid #a2a2a2 !important;
    float: right;
}

.forms {
    padding-bottom: 50px !important;
}

.forms .btn {
    float: right !important;
}

.tires {
    background: url(../img/tires.jpg) no-repeat left top;
    height: 66px;
    margin-top: 10px;
}

.blue-heading {
    color: #0280a5;
    font-weight: bold;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.yellow-heading {
    color: #0280A5;
    font-weight: bold;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.inner {
    padding: 10px;
}

.shadow {
    background: url(../img/shadow.jpg) no-repeat right top;
    width: 100%;
    height: 21px;
}

.title {
    background: #0280A5;
    width: 100%;
    padding: 13px 0px 14px 20px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0px 22px 22px 0px;
    -webkit-border-radius: 0px 22px 22px 0px;
    -moz-border-radius: 0px 22px 22px 0px;
    -ms-border-radius: 0px 22px 22px 0px;
    -o-border-radius: 0px 22px 22px 0px;
}

.slider-text {
    position: absolute;
    background: url(../img/trans.png);
    width: auto;
    border: #999999 1px solid;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    top: 10%;
    left: 5%;
    color: #999999;
    padding: 30px;
    max-width: 500px;
}

.owl-theme .owl-controls .owl-page span {
    background: #0280A5 !important;
}

.inner li:before {
    content: "\2713 ";
    margin-right: 10px;
}

.underline {
    text-decoration: underline;
    padding-bottom: 3px;
}

.yellow {
    color: #ffc316;
}

.top-large {
    font-size: 12px;
    font-weight: bold;
}

.logo {
    padding-top: 20px;
}

#top-search {
    display: none;
}

.call {
    text-align: right;
    font-weight: bold;
    float: right;
    padding-right: 10px;
}

@media only screen and (min-width: 768px) {
    .navbar .prepend .adjoined,
    .append .adjoined,
    .top .prepend .adjoined,
    .append .adjoined {
        padding: 0;
        font-family: "Open Sans";
        font-weight: 600;
        color: #fff;
        font-size: 16px;
        font-size: 1rem;
        height: 26px;
        line-height: 29px;
        border: none;
        background: #636467;
        border-radius: 50px 0px 0px 50px;
    }
    .navbar .field .input,
    .top .field .input {
        position: relative;
        color: #fff;
        font-size: 8px;
        padding: 0 10px;
        background: #636467;
        border: none;
        height: 26px;
        line-height: 29px;
        font-size: 16px;
        font-size: 1rem;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        width: 115px;
    }
    .gumby-no-touch .navbar li .dropdown ul li a:hover {
        background: #0280a5;
    }
    .gumby-no-touch .navbar li .dropdown ul li a {
        background: #0596c1;
    }
    .navbar .prepend,
    .append,
    .top .prepend,
    .append {
        font-size: 0;
        white-space: nowrap;
        padding-bottom: 3.5px;
        text-align: right;
        margin-right: 10px;
    }
    input[placeholder],
    [placeholder],
    *[placeholder] {

        text-transform: capitalize;
        font-size: 12px !important;
    }
    .navbar li .dropdown ul > li a {
        display: block;
        padding: 0 20px;
        color: #d04526;
        border-bottom: none;
        text-shadow: none;
        height: 38px;
        line-height: 39px;
    }
    .navbar ul li {
        display: table-cell;
        text-align: center;
        padding-bottom: 0;
        margin: 0;
        height: 47px;
        line-height: 26px;
    }
    .navbar ul li {
        padding-bottom: 0;
    }
    .navbar ul li > a {
        display: block;
        background: url(../img/nav-line.jpg) no-repeat right bottom;
        white-space: nowrap;
        color: #fff !important;
        text-shadow: none;
        height: 37px;
        line-height: 45px;
        font-size: 11px;
        font-weight: bold;
        font-size: 0.7rem;
        text-transform: uppercase;
    }
    .gumby-no-touch .navbar ul li:hover > a,
    .gumby-touch .navbar ul li.active > a {
        position: relative;
        background: #0280a5;
        z-index: 1000;
        height: 42px;
    }
    #top-search {
        display: none;
    }
    .bot-menu {
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .navbar a.toggle:active,
    .navbar a.toggle.active {
        background: transparent !important;
    }
    .navbar a.toggle,
    .navbar a.toggle:hover {
        top: 10%;
        left: 4%;
        width: 46px;
        position: absolute;
        text-align: center;
        display: inline-block;
        color: white;
        background: transparent;
        height: 40px;
        line-height: 38px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        font-size: 30px;
        font-size: 1.875rem;
    }
    .search-bar {
        display: none;
    }
    #top-search {
        display: block;
    }
    #search-bar {
        width: 100%;
        margin-bottom: 10px;
        font-size: 11px;
        display: block;
    }
    .navbar ul {
        top: 44px;
    }
    .slider-text {
        position: absolute;
        background: url(../img/trans.png);
        width: auto;
        border: none;
        height: auto;
        border-radius: 0;
        top: 2%;
        left: 2%;
        color: #999999;
        padding: 10px;
        max-width: 488px;
    }
    .slider-text h3 {
        display: none;
    }
    .logo,
    .right-align {
        text-align: center;
    }
    #sub-nav {
        display: none;
    }

    input[type="submit"] {
        margin-top:15px;
    }
}

/* Additional Styles */
.large {
    font-size: 1.4em;
    letter-spacing: normal;
    font-weight: bold;
}

.noMargin {
    margin:0 auto;
}

.noMarginLeft {
    margin:0 auto;
}


.spacer {
    margin: 10px 10px;
    height: 1px;
    width: 100%;
    display: inline-block;
}

.leftColumn {
    background: #FFC423;
    padding:5px;
    height: 100%;
    color:#fff;
    text-align: center;
    min-height: 592px; /* Not needed, for presentation purposes only */
}

.leftColumn {
    padding:5px;
    height: 100%;
    color:#fff;
    text-align: center;
    min-height: 592px; /* Not needed, for presentation purposes only */
}

.footer1, .footer2 {
    margin:10px 0px 10px -20px;
    border: 1px 1px solid #cecece;

}

.footnote {
    border-top:1px #cecece solid;
    padding-top:10px;
    text-align: center;
}

.footnote p {
    font-size: 9px;
}

.footer_nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-left:10px;
    padding-right:10px;
}

.footer_nav li a {
    color:#1e1e1e;
}

.footer_nav li:after {
    content: "|";
    display: inline-block;
    color:darkred;
    margin-left:10px;
    width: 1px;
}

#fullName {
    margin-bottom: 10px;
}

.footer_nav li:last-child:after {
    content: "";
}
